# Ambiente virtual
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
db.sqlite3
db.sqlite3-journal

# Variáveis de ambiente
.env

# VS Code
.vscode/

# Arquivos do sistema
.DS_Store
Thumbs.db